.pageContents {
  margin-bottom: 70px;
  padding-bottom: 60px;
}


@media (min-width: 768px) {
  .pageContents {
    display: grid;
    width: 85%;
    margin: 0 auto;
  
    gap: 20px;
    grid-template-columns: 350px 1fr;

    padding-bottom: 80px;
  }
}

@media (min-width: 1000px) {
  .pageContents {
    width: 950px;

    grid-template-columns: 500px 1fr;

    padding-bottom: 110px;
  }
}
