.selector__item {
  margin-bottom: 10px;
}

.selector__btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  font-family: "Roboto Mono", "Courier", monospace;
  text-align: center;

  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selector__itemCurrent .selector__btn {
  color: #ffffff;

  background-color: #000000;
  border: 2px solid #ffffff;
}
